<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cinema.css}" />
    <title>Gestión de Cines</title>
  </head>
  <body>
    <div class="container">
      <div class="table-header">
        <h1>Lista de Cines</h1>
        <a th:href="@{/cinemes/create}">Añadir Nuevo Cine</a>
      </div>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cinema : ${Lista}">
            <td th:text="${cinema.cinemaName}"></td>
            <td th:text="${cinema.city}"></td>
            <td>
              <a
                class="btn-secondary"
                th:href="@{/cinema/{id}(id=${cinema.id})}"
              >
                Ver detalles
              </a>
              <a
                class="btn-secondary"
                th:href="@{/cinema/delete/{id}(id=${cinema.id})}"
              >
                Borrar cine
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
