<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detalles del Cine</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1 th:text="${cinema.cinemaName}">Nombre</h1>

        <div class="info">
          <p>
            <strong>Ciudad:</strong>
            <span th:text="${cinema.city}"></span>
          </p>

          <p>
            <strong>Dierccion:</strong>
            <span th:text="${cinema.address}"></span>
          </p>
        </div>

        <div class="actions">
          <a class="btn-back" th:href="@{/cinemes}">Volver</a>
        </div>
      </div>
    </div>

    <h1>Salas</h1>
    <ul>
      <li
        th:each="room: ${cinema.rooms}"
        th:text="${room.name} + ' Capacidad: ' + ${room.capacity}"
      ></li>
    </ul>
  </body>
</html>
