<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema DAW</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header>
      <h1>Cinema</h1>
      <nav>
        <a href="/cinemes">Cines</a>
        <a href="/movies/billboard">Cartelera</a>
      </nav>
    </header>

    <section>
      <h2>Vive la magia del Cinema</h2>
      <p>Los mejores estrenos, la mejor exp</p>
    </section>

    <footer>
      <p>2026 Cinema Daw</p>
    </footer>
  </body>
</html>
