<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/layout.css}" />
  <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
</head>
<body>

<div th:fragment="layout(content)">

  <header class="l-header">
    <h1 class="l-logo"><a th:href="@{/}">Lumière</a></h1>
    <nav class="l-nav">
      <a th:href="@{/}">Inicio</a>
      <a th:href="@{/movies/billboard}">Cartelera</a>
      <a th:href="@{/cinemes}">Cines</a>
      <a th:href="@{/screenings}">Sesiones</a>
    </nav>
  </header>

  <main class="l-main" th:replace="${content}"></main>

  <footer class="l-footer">
    <p>DAW1 2026</p>
  </footer>

</div>

</body>
</html>